<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo left">Table Top</a>
    </div>
</nav>

<div class="row game">
    <div class="col s12 container">
      <div class="card  darken-1">
            <canvas class="grid" style="border:1px solid #000000;"></canvas> 
        </div>
    </div>
</div>

<script src="/js/grid.js"></script>

<script>
    const canvas = document.querySelector('.grid');
    canvas.width = 500/*document.querySelector('.card').offsetWidth - 10*/;
    canvas.height = 500/*document.querySelector('.grid').getBoundingClientRect().bottom*/;
    const game = new GameHandler(canvas);
</script>