<div style="display: flex; justify-content: center; margin-top: 10%">
    <div class="row" style="width: 50%;">
        <div>
        <div class="card darken-1" style="background-color:#374158;">
            <div class="card-content white-text">
                <span class="card-title">Table Top</span>
                <p style="color: #FFFFFF;">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
        </div>
    </div>
</div>