<div class="row game">
    <div class="col s12 container">
      <div class="card">
            <canvas class="grid"></canvas> 
        </div>
    </div>
</div>

<script src="/js/grid.js"></script>

<script>
    const canvas = document.querySelector('.grid');
    canvas.width = 500;
    canvas.height = 500;
</script>