<div class="row game">
    <div class="col s12 container">
      <div class="card">
            <script src="/js/map.js"></script>
        </div>
    </div>
</div>

<script>
    setTimeout(() => {
        document.querySelector('.card').appendChild(document.querySelector('.p5Canvas'));
    }, 50);
</script>