<div class="row game">
    <div class="col s12 container">
      <div class="card" style="height: 100%;">
        </div>
    </div>
</div>
<script type="module">
    import Game  from '/js/gameHandler.js'
    const game = new Game([8, 5], 3);
    setTimeout(() => {
        document.querySelector('.card').appendChild(document.querySelector('.p5Canvas'));
    }, 50);
</script>
