<div class="row game">
    <div class="col s12 container">
      <div class="card" style="height: 100%;">
        </div>
    </div>
</div>
<script type="module">
    import Game  from '/js/gameHandler.js'

    let game;
    async function initGame(){
        const res   = await fetch('../js/config.json');
        const data  = await res.json();
        game        = new Game(data);
    }
    initGame();

    setTimeout(() => {
        document.querySelector('.card').appendChild(document.querySelector('.p5Canvas'));
    }, 50);
</script>

