.game {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    height: 500px;
}

.card {
    text-align: center;
    padding: 10px;
    background-color: #00A0B0;
}
body {
    background-color: #F0EEE9;
}

nav {
    background-color: #00A0B0;
}


.card-title {
    color: #CF5C78;
}

.grid {
    border:1px solid #000000;
    background-color: #FFFFFF;
}