.game {
    display: flex;
    justify-content: left;
    margin-top: 5%;
    height: 500px;
}

.p5Canvas {
    margin-top: 3%;
    margin-left: 3%;
}

.card {
    text-align: center;
    padding: 10px;
    background-color: #374158;
    width: 100%;
}
body {
    background-color: #222D41;
}

nav {
    background-color: #374158;
}


.card-title {
    color: #D76C58;
}

.grid {
    border:1px solid #000000;
    background-color: #FFFFFF;
}

#logo-nav {
    margin-left: 10px;
}

.container {
    display: flex;
}


.game-card {
    display: flex;
    flex-direction: row;
}

.game-card .card-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttons{
    display: flex;
    flex-direction: column;
    background-color: #D76C58 !important;
}
.disableClick{
    pointer-events: none;
    color: #222D41  ;
}

.page-footer {
    background-color: #11151D;
}

.CTA {
    background-color:  #D76C58;
}
.CTA:hover{
    background-color: #7F5056;
}