.game {
    display: flex;
    justify-content: left;
    margin-top: 5%;
    height: 500px;
}

.p5Canvas {
    margin-top: 3%;
    margin-left: 3%;
}

.card {
    text-align: center;
    padding: 10px;
    background-color: #00A0B0;
}
body {
    background-color: #F0EEE9;
}

nav {
    background-color: #00A0B0;
}


.card-title {
    color: #CF5C78;
}

.grid {
    border:1px solid #000000;
    background-color: #FFFFFF;
}

#logo-nav {
    margin-left: 10px;
}



.container {
    display: flex;
}